:root {
  --primary-text-color: #000000;
  --white-color: #ffffff;
  --orange-color: #f7941e;
  --almostblack-color: #231f20;
  --almostwhite-color: #fafafa;
  --grey-color: #f1f1f2;

  --transition-rule: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.41;
}
.logo {
  font-family: "Homemade Apple", cursive;
  line-height: 2.17;
}
/* Утиилиты */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body,
main,
section {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 0;
  margin: 0;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
.header-main {
  margin: 0 auto;

  background-color: var(--almostwhite-color);
}
.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-left: 0;
}
header .container {
  width: auto;

  padding-left: 80px;
  padding-right: 40px;
}
.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo {
  margin: 39px auto 38px 0;
  color: var(--almostblack-color);
}

.header-button {
  margin-left: auto;

  line-height: 1.22;
  text-transform: uppercase;
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  border-radius: 5px;
  padding: 14px 25px;
}

.header-list li:not(:last-child) {
  margin-right: 31px;
}
.header-list a {
  color: var(--primary-text-color);

  line-height: 1.22;
}
/* section 1 Hero */
.hero-section {
  background-color: var(--grey-color);
  width: auto;
  margin: 0 auto;
}
.hero img {
  width: 50%;
}
.hero-section .container {
  width: auto;
  padding: 0;
  display: flex;
}

.hero-text {
  padding: 154px 126px 135px 162px;
  margin-right: auto;
}

.hero h1 {
  margin-bottom: 36px;
  font-size: 56px;
  line-height: 1.23;
  width: 433px;
}
.hero p {
  margin-bottom: 52px;
  font-size: 20px;
  width: 422px;
}
.hero-text a {
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--orange-color);

  border-radius: 5px;
  padding: 23px 35px 23px 35px;
  box-sizing: border-box;
}

/* Section2   Feature Split Right */

.split-section {
  background-color: var(--grey-color);
  width: auto;
  margin: 0 auto;
}
.split-section .container {
  width: auto;
  padding: 0;
  display: flex;
}

.split-text {
  padding: 164px 166px 104px 112px;
}
.split-text h2 {
  font-size: 32px;
  margin-bottom: 23px;
}
.split-text p {
  margin-bottom: 52px;
  font-size: 20px;
  width: 441px;
}
.split-text a {
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--orange-color);

  border-radius: 5px;

  padding: 21px 46px 21px 47px;
  box-sizing: border-box;
}
.split img {
  width: 50%;
}

/* Section3 Posts Tall */

.occasions {
  padding-top: 96px;
  padding-bottom: 137px;
}
.occasions-block h2 {
  font-size: 32px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 23px;
}

.occasions-block p {
  line-height: 1.36;
  text-align: center;
  margin-bottom: 64px;
}
.occasions-list {
  display: flex;
}
.occasions-list li:not(:last-child) {
  margin-right: 30px;
}

.occasions-list li {
  padding-bottom: 24px;
  background-color: var(--almostwhite-color);
  cursor: pointer;
}

.occasions-list li:hover,
.occasions-list li:focus {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.occasions-list h3 {
  padding: 24px 24px 74px 24px;
  font-size: 20px;
  line-height: 1.2;
}
.occasions-list a {
  font-size: 14px;
  line-height: 1.36;
  text-align: left;
  padding-left: 24px;
  color: var(--primary-text-color);
}

/* Section4 CTA Section  */
.cta {
  margin: o auto;
  width: 1440px;

  padding: 81px 235px 69px 235px;
  display: flex;
  background-color: var(--orange-color);
  justify-content: space-between;
}

.cta-text h2 {
  font-size: 32px;
  font-weight: bold;
}
.cta-text p {
  font-size: 32px;
}
.cta-links a {
  display: block;
  color: var(--primary-text-color);
}
.cta-links {
  display: flex;
  align-items: center;
}
.cta-links a:first-child {
  display: flex;
  line-height: 1.22;
  width: 200px;
  height: 48px;
  /* padding: 18px 24px 8px 25px; */
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--almostblack-color);
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 5px;
}
.cta-links a:last-child {
  display: flex;
  line-height: 1.22;
  width: 200px;
  height: 48px;
  /* padding: 18px 24px 8px 25px; */

  text-transform: uppercase;
  border: 1px solid var(--primary-text-color);
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 5px;
}

/* Section5 Posts Blog Top */
.blog {
  padding-top: 88px;
  padding-bottom: 80px;
}
.blog h2 {
  text-align: center;
  padding-bottom: 23px;
  font-size: 32px;
  line-height: 1.19;
}
.blog-p {
  text-align: center;
  padding-bottom: 71px;
  line-height: 1.36;
}
.blog-main {
  display: flex;
  color: var(--white-color);
  background-color: var(--almostblack-color);
  align-items: center;
  margin-bottom: 40px;
  width: 1170px;
}
.blog-main a {
  color: var(--white-color);
}
.blog-main-block {
  padding-left: 78px;
}

.blog-main-block p {
  font-size: 14px;
  padding-bottom: 27px;
}
.blog-main-block h3 {
  font-size: 48px;
  line-height: 1.21;
  padding-bottom: 60px;
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
}
.blog-article {
  width: 570px;
  padding: 48px 48px 50px 48px;
  cursor: pointer;
}
.blog-article:hover,
.blog-article:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blog-article:not(:last-child) {
  margin-right: 30px;
}

.blog-article h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
}
.blog-article p {
  padding-bottom: 40px;
}

/* footer */

/*Navigation*/
.footer-backcround {
  margin: 0 auto;
  max-width: 1441px;
  background-color: var(--almostwhite-color);
}
.footer {
  max-width: 1030px;
  margin: 0 auto;
  padding-top: 106px;
  padding-bottom: 35px;
  background-color: var(--almostwhite-color);
}

.footer-nav {
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 43px;
  border-bottom: 1px solid var(--primary-text-color);
}
.footrer-nav-menu {
  color: var(--primary-text-color);
}

.footer-nav .logo {
  color: var(--orange-color);
  padding-left: 141px;
  padding-right: 141px;
  font-weight: normal;
}

.footrer-nav a {
  display: inline-block;
}
.footrer-nav-padding {
  padding-right: 81px;
}

/* Social networks */
.footer-logo {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 72px;
}
.footer-logo .list:not(:last-child) {
  margin-right: 24px;
}
.privacy {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.privacy p {
  margin-right: 14px;
}
.privacy a {
  font-size: 14px;
  color: var(--primary-text-color);
}
